#-----------------------------------------------------------------------#
#                             GRADLE & BUILD                            #
#-----------------------------------------------------------------------#
.gradle/
/build/
.gradletasknamecache
.gradlerepo/
*.jar
*.war

#-----------------------------------------------------------------------#
#                           INTELLIJ IDEA                               #
#-----------------------------------------------------------------------#
.idea/
*.iml
*.iws

#-----------------------------------------------------------------------#
#                         OPERATING SYSTEM                              #
#-----------------------------------------------------------------------#
.DS_Store
Thumbs.db
*.log
/logs/

#-----------------------------------------------------------------------#
#                            SENSITIVE DATA                             #
#-----------------------------------------------------------------------#
.env
*.pem
local.properties

#-----------------------------------------------------------------------#
#                                DEPENDENCIES                           #
#-----------------------------------------------------------------------#
!/gradle/wrapper/gradle-wrapper.jar
/gradle-wrapper.jar